.elements {
  max-width: 880px;
  margin: 0 auto 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 20px 17px;
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 282px;
    margin-bottom: 48px;
  }
}
